.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}


table#resultstbl {
    border-collapse: collapse;   
}
#resultstbl tr {
    border-top: 1px solid #fff;
}
#resultstbl tr:hover {
    background-color: #ccc;
}
#resultstbl th {
    background-color: #fff;
}

#resultstbl td:hover {
    cursor: pointer;
}

table#msgs {
    border-collapse: collapse;   
}
#msgs tr {
    border-top: 1px solid #fff;
}
#msgs tr:hover {
    background-color: #ccc;
}
#msgs th {
    background-color: #fff;
}

#msgs td:hover {
    cursor: pointer;
}

#messages{
	overflow-y:scroll;
}

#messages-timestamp td{
	font-size:x-small;
	color:gray;
}

#titleLink {
	text-decoration: underline;
}

#numReviews {
	text-decoration: underline
}

#messages{
	overflow-y:scroll;
}

#articles{
	overflow-y:scroll;
}

#listreviews{
	overflow-y:scroll;
}

#listArt1{
	background-color: rgba(255,0,0,0.5);
}

#note{
	font-size: 12px;
}

table#authorResp{
	border: 1px solid black;
	background-color: rgba(225,199,199,0.5);
}

#titlerev{
	font-size: 18px;
	vertical-align:middle;
	font-weight: bold;
}

#messages-timestamp td{
	font-size:x-small;
	color:gray;
}

#chkBtn {
	font-size:85%;
}